@media screen and (min-width: 550px) {
    .main-container .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 6%;
    }

    .main-container .about .title {
        width: 100%;
        margin-bottom: 5%;
    }

    .main-container .about .prof-pic {
        margin: 0;
        height: auto;
        width: 30%;
    }

    .main-container .about .prof-pic img {
        object-fit: cover;
        max-width: 80%;
        max-height: 80%;
    }

    .main-container .about .about-text {
        width: 40%;
    }

    .main-container .about .soc-network {
        display: flex;
        flex-direction: column;
        justify-content: end;
        width: 8%;
        align-items: center;
    }

    .main-container .about .projet .photo img {
        max-width: 130px;
        border-radius: 15px;
    }

    .main-container .about .projet .about .proj-title h1 {
        font-size: 16px;
    }

    .main-container .about .projet .about .proj-title p {
        font-size: 12px;
        margin-bottom: 50px;
    }

    .main-container .projects .items .item {
        height: 200px;
    }

    .main-container .projects .items .item a {
        margin-top: 12%;
        font-size: 14px;
    }

    .main-container .about .projet .about .proj-title .button {
        width: 32%;
    }

    .main-container .contact-div .about-me .mobile h2,
    .main-container .contact-div .about-me .mail h2 {
        font-size: 16px;
    }

    .main-container .contact-div .about-me .mobile img,
    .main-container .contact-div .about-me .mail img {
        width: 22px;
    }

    .main-container .about .projet {
        height: 220px;
    }
}

@media screen and (min-width: 800px) {
    .main-container .about {
        margin-top: 8%;
    }

    header .header .burger {
        display: none;
    }

    header .header .nav-links {
        display: flex;
    }

    header .header .nav-links .link {
        display: flex;
        height: 50px;
        gap: 25px;
        position: relative;
        align-items: center;

    }

    header .header .nav-links .link a {
        text-decoration: none;
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #00FFF5;
    }

    .main-container .experience .exp-div .exp-about .possition h1 {
        font-size: 18px;
    }

    .main-container .experience .exp-div .exp-about .possition p {
        font-size: 16px;
    }

    .main-container .experience .exp-div .exp-about .about p,
    .main-container .experience .exp-div .date h1 {
        font-size: 12px;
    }

    .main-container .about .title h1,
    .main-container .projects .title h1,
    .main-container .experience .title h1,
    .main-container .contact .title h1 {
        font-size: 19px;
    }

    .main-container .contact .text h1 {
        font-size: 17px;
    }

    .main-container .contact .text h2 {
        font-size: 15px;
    }

    .main-container .contact-div .about-me .mobile h2,
    .main-container .contact-div .about-me .mail h2 {
        font-size: 15px;
    }

    .main-container .about .about-text button,
    .main-container .projects .show-more,
    .main-container .experience .show-more,
    .main-container .contact .show-more {
        width: 180px;
        height: 35px;
        font-size: 13px;
    }

    .main-container .projects .show-more a,
    .main-container .experience .show-more a,
    .main-container .contact .show-more a {
        font-size: 13px;
    }

    .main-container .about .projet .photo img {
        max-width: 150px;
        border-radius: 15px;
    }

    .main-container .about .projet .about .proj-title h1 {
        font-size: 20px;
        margin-bottom: 15px;
        margin-top: -16px;
    }

    .main-container .about .projet .about .proj-title p {
        font-size: 15px;
        margin-bottom: 5%;
    }

    .main-container .about .projet .about .proj-title a {
        padding: 10px 30px;
        font-size: 15px;
    }

    .main-container .projects .items .item {
        height: 250px;
    }

    .main-container .projects .items .item a {
        height: 8%;
        font-size: 18px;
    }

    .main-container .about .projet .about .proj-title .button {
        width: 34%;
    }

    section .popup form .title {
        margin-bottom: 8%;
    }

    section .popup form .title h1 {
        font-size: 35px;
    }

    section .popup form .title #close {
        width: 50px;
        height: 40px;
        font-size: 20px;
    }

    section .popup form input {
        height: 52px;
    }

    section .popup form .send {
        height: 40px;
    }

    .main-container .scroll h1 {
        font-size: 20px;
    }

    .main-container .contact-div .about-me .mobile h2,
    .main-container .contact-div .about-me .mail h2 {
        font-size: 19px;
    }

    .main-container .contact-div .about-me .mobile img,
    .main-container .contact-div .about-me .mail img {
        width: 24px;
    }

    .main-container .contact-div .soc-network a img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (min-width: 1140px) {
    .main-container .about .projet .about .proj-title .button {
        width: 22%;
    }

    .main-container .about .about-text h1 {
        font-size: 20px;
    }

    .main-container .about .about-text p {
        font-size: 17px;
    }

    header .header .logo h1,
    header .header .resume a,
    header .header .nav-links .link a {
        font-size: 20px;
    }

    header .header .resume {
        padding: 11px 26px;
    }

    .main-container .experience .exp-div .exp-about .about p,
    .main-container .experience .exp-div .date h1 {
        font-size: 15px;
    }

    .main-container .experience .exp-div .exp-about .possition h1 {
        font-size: 20px;
    }

    .main-container .about .projet .photo img {
        max-height: 250px;
        border-radius: 15px;
    }

    .main-container .about .projet {
        height: 300px;
        margin-top: 20px;
    }

    .main-container .about .projet .about .proj-title h1 {
        font-size: 22px;
        margin-bottom: 15px;
        margin-top: -40px;
    }

    .main-container .about .projet .about .proj-title p {
        font-size: 18px;
        margin-bottom: 85px;
    }

    .main-container .about .projet .about .proj-title a {
        padding: 10px 30px;
        font-size: 15px;
    }

    .main-container .projects .items .item {
        height: 350px;
    }

    .main-container .projects .items .item a {
        margin-top: 12%;
        height: 8%;
        font-size: 18px;
    }

    section .popup form {
        width: 80%;
    }

    .main-container .contact-div .soc-network a img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (min-width: 1400px) {
    .main-container .about .projet .about .proj-title .button {
        width: 18%;
    }

    .main-container .about {
        margin-top: 10%;
    }

    header .header .logo h1,
    header .header .resume a,
    header .header .nav-links .link a,
    .main-container .about .title h1,
    .main-container .projects .title h1,
    .main-container .experience .title h1,
    .main-container .contact .title h1 {
        font-size: 23px;
    }

    .main-container .about .about-text h1 {
        font-size: 23px;
    }

    .main-container .about .about-text p {
        font-size: 21px;
    }

    .main-container .about .about-text button,
    .main-container .projects .show-more,
    .main-container .experience .show-more,
    .main-container .contact .show-more {
        width: 200px;
        height: 45px;
        font-size: 18px;
    }

    .main-container .about .soc-network a img {
        width: 30px;
    }

    .main-container .experience .exp-div .exp-about .about p,
    .main-container .experience .exp-div .date h1 {
        font-size: 20px;
    }

    .main-container .experience .exp-div .exp-about .possition h1 {
        font-size: 25px;
    }

    .main-container .contact .text h1 {
        font-size: 22px;
    }

    .main-container .contact .text h2 {
        font-size: 18px;
    }

    .main-container .projects .show-more a,
    .main-container .experience .show-more a,
    .main-container .contact .show-more a {
        font-size: 20px;
    }

    .main-container .about .projet .photo img {
        max-width: 220px;
        border-radius: 15px;
    }

    .main-container .about .projet .about .proj-title h1 {
        font-size: 22px;
        margin-bottom: 15px;
        margin-top: -60px;
    }

    .main-container .about .projet .about .proj-title p {
        font-size: 18px;
        margin-bottom: 9%;
    }

    .main-container .projects .items .item {
        height: 420px;
    }

    .main-container .projects .items .item a {
        font-size: 20px;
    }

    section .popup form input,
    section .popup form textarea {
        font-size: 20px;
    }

    .main-container .scroll h1 {
        font-size: 22px;
        width: 130px;
    }

    .main-container .contact-div .soc-network a img {
        width: 35px;
        height: 35px;
    }

    .main-container .about .projet .about {
        margin-top: 6%;
    }

    .main-container .about .projet .about .proj-title p {
        margin-bottom: 5%;
    }
}

@media screen and (min-width: 1600px) {
    .main-container .about .projet .about .proj-title .button {
        width: 22%;
    }

    .main-container .projects .items .item {
        height: 450px;
    }

    header .header .logo h1,
    header .header .resume a,
    header .header .nav-links .link a,
    .main-container .about .title h1,
    .main-container .projects .title h1,
    .main-container .experience .title h1,
    .main-container .contact .title h1 {
        font-size: 35px;
    }

    .main-container .about .about-text h1 {
        font-size: 28px;
    }

    .main-container .about .about-text p {
        font-size: 27px;
    }

    .main-container .about .about-text button,
    .main-container .projects .show-more,
    .main-container .experience .show-more,
    .main-container .contact .show-more {
        width: 300px;
        height: 55px;
        font-size: 25px;
        margin-top: 55px;
    }



    .main-container .experience .exp-div .exp-about .about p,
    .main-container .experience .exp-div .date h1 {
        font-size: 25px;
    }

    .main-container .experience .exp-div .exp-about .possition h1 {
        font-size: 30px;
    }

    .main-container .contact .text h1 {
        font-size: 27px;
    }

    .main-container .contact .text h2 {
        font-size: 23px;
    }

    .main-container .experience .exp-div .exp-about .possition p {
        font-size: 25px;
    }

    .main-container .about .projet .photo img {
        width: 200px;
        border-radius: 15px;
    }

    .main-container .about .projet {
        height: 400px;
    }

    .main-container .about .projet .about .proj-title h1 {
        font-size: 25px;
        margin-bottom: 15px;
        margin-top: -60px;
    }

    .main-container .about .projet .about .proj-title p {
        font-size: 21px;
        margin-bottom: 11%;
    }

    .main-container .about .projet .about .proj-title a {
        padding: 15px 45px;
        font-size: 18px;
    }

    .main-container .projects .items .item a {
        height: 10%;
        font-size: 22px;
    }

    .main-container .about {
        margin-top: 9%;
    }

    .main-container .scroll h1 {
        font-size: 25px;
        width: 150px;
    }

    .main-container .contact-div .about-me .mobile h2,
    .main-container .contact-div .about-me .mail h2 {
        font-size: 25px;
    }

    .main-container .contact-div .about-me .mobile img,
    .main-container .contact-div .about-me .mail img {
        width: 30px;
    }

    .main-container .contact-div .soc-network a img {
        width: 45px;
        height: 45px;
    }
}