*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #02183a;
}

.flex {
    display: flex;
}

header .header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin: auto;
}

header .header .logo h1,
header .header .resume a,
header .links a {
    font-size: 16px;
    font-family: 'Nunito';
    color: #00FFF5;
    font-weight: 800;
    font-style: normal;
}

header .header .resume {
    border: 0.642857px dashed #0066FF;
    border-radius: 20px;
    padding: 9px 19px;
    background-color: #0066FF;
}

header .header .resume a {
    color: white;
}

header .header .resume a,
header .links a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
}

header .links a {
    font-weight: 500;
}


header .links {
    width: 35%;
    background-color: white;
    border-radius: 15px 0 0 15px;
    padding: 10px;
    transform: translate(185%, 2%);
}

header .links .link {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
    padding: 0;
}

header .links,
header .header .nav-links {
    display: none;
}

header .links .link a:hover {
    background-color: #00FFF5;
    color: white;
}

.main-container {
    width: 100%;
}

.main-container .about,
.main-container .projects,
.main-container .contact {
    width: 90%;
    margin: auto;
    margin-top: 10%;
}

.main-container .about .title h1,
.main-container .projects .title h1,
.main-container .experience .title h1,
.main-container .contact .title h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    color: #00FFF5;
}

.main-container .about .prof-pic {
    width: 171px;
    height: 200px;
    margin: auto;
    margin-top: 3%;
    border: 0.43074px dashed #0066FF;
    border-radius: 12.9222px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .about .prof-pic img {
    max-width: 150px;
    border-radius: 10px;
}

.main-container .about .about-text h1,
.main-container .about .about-text button {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #00FFF5;
    margin-top: 20px;
}

.main-container .about .about-text p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    font-size: 12px;
    color: #00FFF5;
}

.main-container .about .about-text button,
.main-container .projects .show-more,
.main-container .experience .show-more,
.main-container .contact .show-more {
    width: 124.49px;
    height: 25px;
    font-size: 9px;
    color: white;
    background: #00FFF5;
    border-radius: 15.3061px;
    border: none;
}

.main-container .about .soc-network {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.main-container .projects .items {
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: center;
    margin-top: 3%;
}

.main-container .projects .item {
    width: 30%;
    display: flex;
    padding: 5px 0;
    border: 0.300375px dashed #0066FF;
    border-radius: 9.01126px;
    margin-top: 3%;
}

.main-container .projects .item a {
    display: flex;
}

.main-container .projects .item img {
    max-width: 90%;
    border-radius: 15px;
    margin: auto;
    max-height: 90%;

}

.main-container .projects .show-more,
.main-container .experience .show-more,
.main-container .contact .show-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3%;
}

.main-container .projects .show-more a,
.main-container .experience .show-more a,
.main-container .contact .show-more a {
    font-size: 9px;
    text-decoration: none;
    color: white;
    font-family: 'Nunito';
    font-weight: 400;
}

.main-container .experience {
    margin-top: 10%;
}

.main-container .experience .exp-div {
    display: flex;
}

.main-container .experience .exp-div .date {
    white-space: nowrap;
    width: 8%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-container .experience .exp-div .date h1 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    color: #FFFFFF;
    transform: rotate(-90deg);
}

.main-container .experience .exp-div .exp-about {
    border: 0.356125px dashed #0066FF;
    border-radius: 10.6838px;
    width: 90%;
    display: flex;
    margin-top: 3%;
}

.main-container .experience .exp-div .exp-about .possition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 0 10px;
}

.main-container .experience .exp-div .exp-about .dot {
    padding-top: 4%;
}

.main-container .experience .exp-div .exp-about .about {
    margin-top: 0;
    padding: 5%;
}

.main-container .experience .exp-div .exp-about .possition h1,
.main-container .experience .exp-div .exp-about .possition p,
.main-container .experience .exp-div .exp-about .about p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    color: white;
}

.main-container .experience .exp-div .exp-about .possition p {
    font-weight: 500;
    font-size: 10px;
}

.main-container .experience .exp-div .exp-about .about p {
    font-weight: 400;
    font-size: 8px;
}

.main-container .contact .text h1,
.main-container .contact .text h2 {
    font-size: 16px;
    font-family: 'Nunito';
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 5%;
}

.main-container .contact .text h2 {
    font-size: 12px;
}

.main-container .contact-div .about-div,
.main-container .contact-div .about-me .mobile,
.main-container .contact-div .about-me .mail,
.main-container .contact-div .soc-network {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 3%;
    padding: 3%;
}

.main-container .contact-div .about-me {
    width: 100%;
    border: 0.495045px dashed #0066FF;
    border-radius: 14.8514px;
    padding: 5%;
    margin: 6% 0 0 0;
}

.main-container .contact-div .about-me .mobile h2,
.main-container .contact-div .about-me .mail h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 9.9009px;
    color: white;
}

.main-container .contact {
    margin-bottom: 30px;
}

.main-container .about .projet {
    display: flex;
    gap: 8%;
    border: 2px dashed #0066FF;
    margin-bottom: 15px;
    border-radius: 10px;
    align-items: center;
    height: 160px;
}

.main-container .about .projet .about {
    margin-top: 0;
    display: contents;
}

.main-container .about .projet .photo img {
    max-width: 100px;
    max-height: 150px;
    border-radius: 15px;
    margin-left: 15px;

}

.main-container .about .projet .about .proj-title h1,
.main-container .about .projet .about .proj-title p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    text-transform: uppercase;
    color: #00FFF5;
    margin-bottom: 10px;
}

.main-container .about .projet .about .proj-title p {
    font-size: 8px;
    margin-bottom: 25px;
}

.main-container .about .projet .about .proj-title a {
    width: 100px;
    height: 20px;
    background-color: #00FFF5;
    border-radius: 15px;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-family: 'Nunito';
    font-size: 10px;
}

.main-container .about .projet .about .proj-title .button {
    width: 64%;
}


header .header .nav-links .link a:hover {
    transition-duration: .5s;
    padding: 15px;
    border: 1px dashed #0066FF;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #00fff7a4;
}

header .header .logo h1:hover {
    transition-duration: .5s;
    transform: scale(1.2);
}

header .header .resume:hover {
    transition-duration: .5s;
    transform: scale(.9);
    box-shadow: 0 0 1rem #00fff7a4;
}

.main-container .about .prof-pic img:hover {
    transition-duration: .5s;
    transform: scale(1.15);
    box-shadow: 0 0 1rem #00fff7a4;
}

.main-container .about .about-text button:hover,
.main-container .projects .show-more:hover,
.main-container .experience .show-more:hover,
.main-container .contact .show-more:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    color: black;
}

.main-container .projects .show-more:hover a,
.main-container .experience .show-more:hover a,
.main-container .contact .show-more:hover a,
.main-container .about .projet .about .proj-title .button:hover a {
    transition-duration: .5s;
    color: black;
}

.main-container .about .projet .about .proj-title .button:hover {
    transform: translateY(-8px);
    transition-duration: .5s;
}

.main-container .about .soc-network a:hover {
    transform: scale(1.4);
    transition-duration: .5s;
}

.main-container .projects .items .item a {
    position: absolute;
    width: 18%;
    margin-left: 4%;
    margin-top: 10%;
    height: 5%;
    opacity: 0;
    background: #0066FF;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-family: 'Nunito';
    font-size: 8px;
}

.main-container .projects .items .item:hover a {
    opacity: 1;
    transition-duration: .5s;
}

.main-container .projects .items .item:hover img {
    filter: blur(.2rem);
    transform: scale(1.1);
    transition-duration: .5s;
}


section .popup {
    width: 100%;
    position: absolute;
    z-index: 50;

}

section .popup form {
    display: none;
    flex-direction: column;
    width: 90%;
    margin: auto;
    margin-top: 13%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

section .popup form .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
}

section .popup form .title h1 {
    font-family: 'Nunito';
    color: black;
    font-size: 25px;
}

section .popup form .title #close {
    width: 30px;
    height: 30px;
    background: none;
    background-color: #00FFF5;
    border: none;
    color: white;
    border-radius: 10px;
}

section .popup form input,
section .popup form textarea {
    height: 40px;
    border-radius: 10px;
    border: 2px solid gray;
    margin-bottom: 10px;
    padding: 10px 10px;
}

section .popup form textarea {
    height: auto;
}

section .popup form .send {
    background-color: #00FFF5;
    height: 30px;
    border-radius: 10px;
    color: white;
    font-size: 17px;
    font-family: 'Nunito';
}

.main-container .hello {
    width: 40px;
    height: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1%;
    background-image: url(assets/hello.svg);
}

.main-container .scroll {
    width: 120px;
    margin: auto;
    margin-top: 2%;

}

.main-container .scroll h1 {
    font-family: 'Nunito';
    color: #00FFF5;
    font-size: 18px;
    text-align: center;
}

.main-container .hello img {
    width: 15px;
    object-fit: contain;
    animation-name: move;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes move {
    0% {
        margin-top: -30px;
    }

    100% {
        margin-top: 50px
    }
}

.main-container .contact-div .soc-network a img {
    width: 15px;
    height: 15px;
}

.main-container .contact-div .soc-network a:hover {
    transform: scale(1.2);
    transition-duration: .3s;
}